@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background: hsl(204, 43%, 93%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
